@model IEnumerable<IdentitySample.Models.Complaint>
@{
    ViewBag.Title = "Give Feedback";
}

<h2 style="text-align:right">Give Feedback</h2>
@{
    int i = 0;
}


<table class="table">
    

    @foreach (var item in Model)
    {
        if (!item.IsSolved)
        {
            if (i == 1)
            {
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Issue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>

                </tr>

            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Issue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("See Feedbacks", "ShowAll", "Feedbacks", new { id = item.ComplaintId }, null)
                </td>

            </tr>
        }
    }

</table>
@{
    if (i == 0)
    {
        <h3>No feedback for this complaint</h3>
    }
}
