@model IEnumerable<IdentitySample.Models.Complaint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    @{
        int i = 0;
    }

@foreach (var item in Model)
{
    if (!item.IsAssigned)
    {
        i++;
        if (i == 1)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LodgedOn)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Issue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LodgedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeviceId)
                </th>

                <th></th>
            </tr>
        }

        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LodgedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceId)
            </td>

            <td>
                @Html.ActionLink("Assign Technician", "AssignTechnician", new { id = item.ComplaintId }) 
            </td>
        </tr>
    }
}

</table>
